#__xmlview2--crud_text_area-inner {
    min-width: 100%;
    height: 200px;
}
#__xmlview2--__button1 {
    float: right;
}
#main_panel {
    width: 100%;
}
#table_panel {
    /**/
}
#__bar0 {
    background: white;
    max-width: 215px;
}
